<h1>登记系统...</h1>

<div class={people_list}>
  <ul>
    <li>name:
      <input type="text" [(ngModel)]="peopleinfo.username" />
    </li>

    <hr>

    <li>sex:
      <input type="radio" value="1" name='sex' id="1"  [(ngModel)]="peopleinfo.sex" /> <span for='1'>man</span>
      <input type="radio" value="2" name='sex' id="2"  [(ngModel)]="peopleinfo.sex" /> <span for='2'>woman</span>
    </li>


    <hr>

    <h3>choose citys.. you choose is {{peopleinfo.city}}.</h3>
    <select name="city" id="city"  [(ngModel)]="peopleinfo.city">
        <option [value] = 'item' *ngFor="let item of peopleinfo.city_list">{{item}}</option>
    </select>

    <hr>

    <h3>choose your hobby.....</h3>
    <span *ngFor="let item of peopleinfo.hobby ; let key = index; ">
      <!--  意思是 点击字的时候也可以选中  -->
      <input type="checkbox"  [id]="'check' + key" [(ngModel)]="item.checked" />  <label [for]="'check' + key"> {{item.title}} </label>
    </span>






  
  </ul>

  <button ((click)="doSubmit">获取表单的内容...</button>



  <hr>
  <pre>
      {{peopleinfo | json}}
  </pre>
 

</div>