<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body{
            background: #63434f;
            color: white;
        }
    </style>
</head>

<body>

<div th:replace="head_title.html"></div>

<h2>欢迎使用Thymeleaf!!</h2>
<a href="http://www.baidu.com" th:href="${info}">戳我有惊喜</a>
<h1>这就是首页 , 啥也没有的首页</h1>
<h3>this is index page , there is nothing</h3>
</body>
</html>