<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style-type: none;
        }
        #docment_body {
        }


        #limit_nav{
            transform: translateY(-105px);
            transition: 0.3s all;
        }
        #limit_nav:hover{
            transform: translateY(0px);
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YXB</title>
    <link rel="styleSheet" href="" type="text/css">

    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>


</head>
<body id="docment_body" ng-app="myApp" ng-controller="myCtrl">


<div th:replace="head_title.html"></div>




<nav class="navbar navbar-inverse navbar-fixed-top" id="limit_nav">
    <div style="width: 30px; height: 30px; background-color: lightgreen; transform: translateY(100px); float: right;"></div>
    <div class="container">
        <div class="" style="font-size: 35px; color: white; text-align: center; "><span>请选择单词位数:</span></div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <form class="navbar-form ">
                <div class="form-group">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>null</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">提交</button>
            </form>
        </div>
    </div>
</nav>



<!-- Large modal -->
<button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target=".bs-example-modal-lg">Settings</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h3>选择单词长度:   {{words_length}}  位 </h3>
                    <form class="navbar-form ">
                        <div class="form-group">
                            <select class="form-control"  ng-model="words_length">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>null</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-success" id="inquiry">点击查询</button>
                    </form>
                    <h4 id="search_result"></h4>
                </div>

                <h3>从哪里开始: </h3>
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="输入数字"  ng-model="input_limit" value="0">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="submit">开始</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<h4>当前的单词长度是:   {{words_length}}  位</h4>
<h4>当前是第:   {{input_limit}}  个</h4>
<button class="btn btn-danger btn-lg" id="next_one">下一个</button>
<h1 id="word"></h1>
<h4 id="chinese_mean"></h4>





</body>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.words_length = 6;          //  选择框选中的值
        $scope.input_limit = 0;         //  输入框选中的值


        $("#next_one").click(function () {
            $scope.input_limit = 50;
            console.log($scope.input_limit);
            Get_one_word();
        });

        var Ajax_data = {};

        $("#inquiry").click(function () {
            Ajax_data.words_length = $scope.words_length;           //params.XX必须与Spring Mvc controller中的参数名称一致

            $.ajax({
                async: false,
                type: "GET",
                url: "/Remember_words_Controller/Get_words_length",         // 路径
                data: Ajax_data,
                dataType: "json",
                success: function (data) {
                    document.getElementById("search_result").innerText = "你查询的结果是:   " + data + "  条记录.";
                },
                error: function (data) {
                    // alert("erroe something...");
                }
            });
        });

        function Get_one_word() {
            Ajax_data.words_length = $scope.words_length;   //params.XX必须与Spring Mvc controller中的参数名称一致
            Ajax_data.input_limit = $scope.input_limit;

            $.ajax({
                async: false,
                type: "GET",
                url: "/Remember_words_Controller/Get_one_word",
                data: Ajax_data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    document.getElementById("word").innerText = data[0];
                    document.getElementById("chinese_mean").innerText = data[1];
                },
                error: function (data) {
                    // alert("erroe something...");
                }
            });
        }


        $("#submit").click(function () {
            Get_one_word();
        });






    });
</script>

</html>
