<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <style type="text/css">
        .page {
            text-align: left;
        }

        .dragDiv {
            border: 1px solid #ddd;
            padding: 10px;
            width: 300px;
            margin: 0 auto;
            border-radius: 4px;
            box-shadow: 0 1px 2px #fefefe;
            position: fixed;
        }
    </style>

</head>
<body>

<div id="words">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugit nihil officia, quam ratione rerum. Accusantium
    adipisci aliquam aliquid blanditiis debitis dicta dolorum est exercitationem facilis fugit illo laboriosam
    laudantium maxime minima nam nemo neque nesciunt, nihil nisi, nostrum possimus, quae quaerat sequi sunt tempore ut
    voluptatum. Ipsam similique, voluptatum? Accusamus, cumque ducimus earum harum nostrum optio perferendis praesentium
    rem tenetur vitae? A ab asperiores corporis cum cumque cupiditate delectus expedita explicabo, facilis hic illum
    minima necessitatibus numquam obcaecati odio omnis quam quos rerum veritatis voluptates. Adipisci amet atque autem
    consectetur consequatur corporis culpa debitis delectus dignissimos dolores ea earum exercitationem explicabo fuga
    hic impedit inventore laborum, magniernatur at atque consequatur culpa dicta distinctio eius ex illo, ipsa, laborum
    magnam natus, necessitatibus omnis perferendis praesentium quod ratione rem reprehenderit suscipit veniam. Ab amet
    blanditiis distinctio dolore dolorum facere, fugit in ipsam iste, laboriosam, minus molestiae obcaecati odio
    officiis pariatur placeat quidem?
</div>

<div class="dragDiv" id="drag">
    <div class="drag-head">点击拖动</div>
    <div class="drag-body">
        蔡宝坚博客专注于前端开发，欢迎关注和收藏。<br/>
        微博：<a href="http://weibo.com/kujian" target="_blank">http://weibo.com/kujian</a><br/>
        博客：<a href="http://caibaojian.com" target="_blank">http://caibaojian.com/</a>
    </div>
</div>
</body>

<script>
    //视频小窗口播放和还原
    //全局保存拖动的位置
    var _drag = {};
    _drag.top = 0; //拖动过的位置距离上边
    _drag.left = 0; //拖动过的位置距离左边
    _drag.maxLeft; //距离左边最大的距离
    _drag.maxTop; //距离上边最大的距离
    _drag.dragging = false; //是否拖动标志
    //拖动函数
    function bindDrag(el) {
        var winWidth = $(window).width(), winHeight = $(window).height(), $el = $(el), objWidth = $el.outerWidth(),
            objHeight = $el.outerHeight();
        _drag.maxLeft = winWidth - objWidth, _drag.maxTop = winHeight - objHeight;
        var els = el.style, x = 0, y = 0;
        var objTop = $el.offset().top, objLeft = $el.offset().left;
        $el.mousedown(function (e) {
            _drag.dragging = true;
            _drag.isDragged = true;
            x = e.clientX - el.offsetLeft;
            y = e.clientY - el.offsetTop;
            el.setCapture && el.setCapture();
            $(document).bind('mousemove', mouseMove).bind('mouseup', mouseUp);
            return false;
        });

        function mouseMove(e) {
            e = e || window.event;
            if (_drag.dragging) {
                _drag.top = e.clientY - y;
                _drag.left = e.clientX - x;
                _drag.top = _drag.top > _drag.maxTop ? _drag.maxTop : _drag.top;
                _drag.left = _drag.left > _drag.maxLeft ? _drag.maxLeft : _drag.left;
                _drag.top = _drag.top < 0 ? 0 : _drag.top;
                _drag.left = _drag.left < 0 ? 0 : _drag.left;
                els.top = _drag.top + 'px';
                els.left = _drag.left + 'px';
                return false;
            }

        }

        function mouseUp(e) {
            _drag.dragging = false;
            el.releaseCapture && el.releaseCapture();
            e.cancelBubble = true;
            $(document).unbind('mousemove', mouseMove).unbind('mouseup', mouseUp);
        }

        $(window).resize(function () {
            var winWidth = $(window).width(),
                winHeight = $(window).height(),
                elWidth = $el.outerWidth(),
                elHeight = $el.outerHeight(),
                elLeft = parseFloat($el.css('left')),
                elTop = parseFloat($el.css('top'));
            _drag.maxLeft = winWidth - elWidth;
            _drag.maxTop = winHeight - elHeight;
            _drag.top = _drag.maxTop < elTop ? _drag.maxTop : elTop;
            _drag.left = _drag.maxLeft < elLeft ? _drag.maxLeft : elLeft;
            $el.css({
                top: _drag.top,
                left: _drag.left
            })
        })
    }

    bindDrag(document.getElementById('drag'));

</script>
</html>